// Variables

//
// Color system
//

// Gray palette
$gray-100: #d9d9d9;
$gray-200: #b3b3b3;
$gray-300: #8d8c8c;
$gray-400: #676767;
$gray-500: #424141;
$gray-600: #343434;
$gray-700: #272727;
$gray-800: #1a1a1a;
$gray-900: #0d0d0d;

// Brand
$brand-primary: $gray-500;
$active-element: #1a73e8;


// Typography
$font-family-body: "Open Sans", sans-serif;
$font-family-heading: "Open Sans", sans-serif;
